extends ../../layout
block main
    div.container.questionContainer
        div.questionDetails
            article
                h1 #{question.title}
                ul
                    li.detailsAuteurDate
                        a(href="/forum/profile/" + question.user.id) #{question.user.name}
                        span | #{question.prettyDate}
                    li.detailsDescription
                        p #{question.description}
                    li.detailsResolue.horizontalFlow
                        if question.resolvedAt
                            span.resolved Résolue
                        else
                            span.notResolved Non résolue
                        div.detailsFonctionsAdmin
                            if loggedInUser
                                if loggedInUser.role === "ADMIN"
                                    a(href="/forum/question/edit/" + question.id) Éditer
                                    a(href="/forum/admin/question/delete/" + question.id) Supprimer
                                else if loggedInUser.id === question.user.id
                                    a(href="/forum/question/edit/" + question.id) Éditer

                                a(href="/forum/question/resolve/" + question.id) Marquer comme résolue

        div.commentSection
            h2 #{question.comments.length} Commentaires
            if loggedInUser
                for comment in question.comments
                    article
                        ul
                            li.detailsAuteurDate
                                a(href="/forum/profile/" + comment.user.id) #{comment.user.name}
                                span | #{comment.prettyDate}
                            li
                                p #{comment.content}
                            li.commentManagementLink
                                if loggedInUser.role === "ADMIN"
                                    a(href="/forum/question/" + question.id + "/comment/edit/" + comment.id) Éditer
                                    a(href="/forum/admin/question/" + question.id + "/comment/delete/" + comment.id) Supprimer
                                else if loggedInUser.id === comment.user.id
                                    a(href="/forum/question/" + question.id + "/comment/edit/" + comment.id) Éditer
                div.commentAnswer
                    form(method="post").verticalFlow
                        label(for="content") Postez un commentaire
                        textarea(id="content", name="content", placeholder="Réagissez ici")
                        button(type="submit") Commenter

            else
                div.accessComments
                    a(href="/forum/connexion") Connectez-vous pour accéder aux commentaires !